.container_Main1 {
	width: 100vw;
	height: 100vh;
	max-width: 100%;
	background: linear-gradient(30deg, rgba(242, 242, 242, 0.90), rgba(242, 242, 242, 0.90)) 100%,
		url("./business-code-coding-270632.jpg");
	background-size: cover;
}

.title_container {
	margin: auto;
	width: 80vw;
	height: 100vh;
	max-width: 100%;
	display: flex;
	align-items: center;
}

.title1 {
	/* border: 1px solid red; */
	font-family: 'Vollkorn', serif;
	font-size: 13em;
	width: 35%;
	/* margin-bottom: 10vh; */
}

.description_container {
	/* border: 1px solid blue; */
	width: 50%;
	margin: auto;
	border: 1px solid red;
}

.description_title {
	text-align: center;
	font-family: 'Vollkorn SC', serif;
	font-size: 4em;
}

.description_context-container {
	text-align: start;
	width: 100%;
}

.description_mynameis {
	font-size: 2em;
	font-family: 'Vollkorn', serif;
}

.description_context {
	font-size: 1.2em;
	font-family: 'Vollkorn', serif;
}
