.wow {
	visibility: hidden;
}

.container_Main1 {
	color: white;
	width: 100vw;
	height: 100vh;
	max-width: 100%;
	background: #AB2A2E;
}

.title_container {
	margin: auto;
	width: 80vw;
	height: 100vh;
	max-width: 100%;
	display: flex;
	flex-direction: column;
}

.title1 {
	/* margin-top: 20vh; */
	font-family: 'Lato', sans-serif;
	font-size: 10em;
	width: 35%;
}

.description_container {
	width: 50%;
	margin: 0 auto;
}

.description_title {
	text-align: center;
	font-family: 'Lato', sans-serif;
	font-size: 4em;
}

.description_context-container {
	text-align: start;
	width: 100%;
}

.description_mynameis {
	font-size: 2em;
	font-family: 'Lato', sans-serif;
}

.description_context {
	font-size: 1.2em;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
}

.ml10 {
  position: relative;
  font-weight: 900;
  font-size: 4em;
}

.ml10 .text-wrapper {
  position: relative;
  display: inline-block;
  padding-top: 0.2em;
  padding-right: 0.05em;
  padding-bottom: 0.1em;
  overflow: hidden;
}

.ml10 .letter {
  display: inline-block;
  line-height: 1em;
  transform-origin: 0 0;
}